<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Airstrip - Open Source Landing Page System!</title>
    <meta name="description" content="Airstrip is an open source landing page scaffold system.">
    <meta name="author" content="nu7hatch">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Bevan" type="text/css">
    <link rel="stylesheet" href="/admin/assets/admin.css?2">
    <script src="/js/modernizr-2.0.6.min.js"></script>
  </head>
  <body>
    <div class="container">
      <section role="main" id="yield">
        <%= yield %>
      </section>
      <footer role="contentinfo">
        <div class="vessel">
          <p>
            Copyright &copy; <%= Time.now.year %> by Chris Kowalik a.k.a. <a href="http://nu7hat.ch/">nu7hatch</a>.<br />
            All rights reserved.
          </p>
          <p>
            <a href="http://github.com/nu7hatch/airstrip"> Fork me on <i class="icon-github"></i> Github</a>!
          </p>
        </div>
      </footer>
    </div>

    <script src="/admin/assets/setup.js"></script>
  </body>
</html>
