<!DOCTYPE html>
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="/lib/jasmine-1.2.0/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/lib/jasmine-1.2.0/jasmine.css">

  <!-- jasmine lib files -->
  <script type="text/javascript" src="/lib/jasmine-1.2.0/jasmine.js"></script>
  <script type="text/javascript" src="/lib/jasmine-1.2.0/jasmine-html.js"></script>

  <!-- spec files -->
  <script type="text/javascript" src="/admin/assets/specs.js"></script>

  <!-- jasmine suite runner -->
  <script type="text/javascript" src="/js/jasmine-runner.js"></script>
</head>
<body>
</body>
</html>
