<script type="text/html" id="signup_form_tpl">
  <form action="/signup" id="signup_form" method="post">
    <div class="formrow">
      <label for="signup_email">Email</label>
      <input type="text" name="signup[email]" id="signup_email" value="">
    </div>
    <div class="buttons">
      <input type="submit" id="signup_form_submit" class="submit" value="Join!">
    </div>
  </form>
</script>
