<div class="vessel">
  <h1>Marty MacFly is flying soon!</h1>
  <p>
    Wanna join him in his time travel adventures? Don't hesitate to
    register with your email address and wait for the start. Maybe
    you'll be the one coming back to the future!
  </p>

  <div id="signup_form_wrapper"></div>
</div>
