<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>QUnit Tests</title>
    <link rel="stylesheet" href="/qunit-1.2.0.css">
    <script src="/qunit-1.2.0.js"></script>
    <script src="/assets/main/app.js"></script>
    <script src="/assets/test/suite.js"></script>
  </head>
  <body>
    <h1 id="qunit-header">QUnit <%= settings.app_title %></h1>
    <h2 id="qunit-banner"></h2>
    <ol id="qunit-tests"></ol>
  </body>
</html>
