/*
 *= require ./h5b
 *= require ./fontawesome
 */

/* ==|== primary styles ===================================================== */

body {
   color: #FFF;
   font-family: 'Droid Sans', serif;
}

#signup_form_wrapper {
   margin-top: 1.5em;
}

form.signup {
   position: relative;
}

form input.tall {
  padding: 11px;
}

/* media queries */

@media screen and (min-width: 640px) {
   [role='main'] {
      padding-top: 3em;
   }
}

@media screen and (max-width: 767px) {
   form.signup input#signup_email {
     height: 44px;
   }
   form.signup button#signup_form_submit {
      margin-top: 10px;
      width: 100%;
   }
}

@media screen and (min-height: 480px) {
   footer {
      position: absolute;
      bottom: 1em;
   }
}
