/*
 *= require ./h5b
 */

/* ==|== primary styles ===================================================== */

body {
   color: #FFF;
   font-family: 'Mate', serif;
   background-color: #254c36;
   background-image: url("/img/bg.jpg");
   background-position: center left;
   background-repeat: no-repeat;
   background-size: 1280px;
}
.vessel {
   margin: 0 1em;
   padding: 1em;
}
[role='main'] {
   padding-top: 1em;
}
[role='main'] .vessel {
   background-color: rgba(0,24,15,.5);
   background-image: url("/img/pinstriped_suit.png");
   background-size: 30%;
   background-repeat: repeat;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
   border-radius: 4px;
}
h1 {
   font-size: 2.1em;
   margin: 0;
   font-family: 'Bevan', serif;
   font-weight: normal;
   color: #CCEE88;
   text-shadow: 3px 3px 0 rgba(0,0,0,.6);
}
p {
   font-size: 1.1em;
   text-shadow: 1px 1px 1px rgba(0,0,0,.9);
}
a, a:visited {
   color: #CCEE88;
   text-decoration: none;
}
a:hover, a:active {
   color: #FFF;
   text-decoration: underline;
}
[role='contentinfo'] {
   text-align: center;
}
[role='contentinfo'] p {
   font-size: .9em;
}

#signup_form_wrapper {
   padding: 8px;
   background-color: rgba(200,225,150,.1);
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;
   border-radius: 2px;
   margin-top: 1.5em;
}
form.signup {
   position: relative;
}
form.signup .formrow label#signup_email_label {
   position: absolute;
   top: -9999px;
}
form.signup .formrow input {
   border: none;
   color: #DDFFAA;
   font-size: 1.3em;
   padding: 10px 0;
   height: 26px;
   width: 100%;
   background: rgb(0,24,15);
   outline: none;
}
form.signup .formrow .padded {
   position: relative;
   z-index: 101;
   padding: 0 10px;
   background: rgb(0,24,15);
   -webkit-border-radius: 3px 3px 0 0;
   -moz-border-radius: 3px 3px 0 0;
   -ms-border-radius: 3px 3px 0 0;
   -o-border-radius: 3px 3px 0 0;
   border-radius: 3px 3px 0 0;
}
form.signup .buttons .submit {
   position: relative;
   z-index: 102;
   width: 100%;
   text-align: center;
   background: #f3a41c;
   border: none;
   border: 1px solid #f3aa1c;
   border-bottom: 1px solid rgb(109,70,1);
   border-right: 1px solid rgb(109,70,1);
   box-shadow: 0 0 5px rgba(0,0,0,.3), inset -3px -3px 10px rgba(70,50,0,.4);
   color: #6d4601;
   text-shadow: 1px 1px 0 rgba(255,235,100,.8);
   font-family: 'Bevan', serif;
   font-size: 1.3em;
   font-weight: normal;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px;
   padding: 1px 15px;
   height: 46px;
}
form.signup .buttons .submit:hover {
   background: #e3941c;
   box-shadow: 0 0 5px rgba(0,0,0,.3), inset 3px 3px 10px rgba(255,235,100,.2);
}
form.signup .buttons .submit:active {
   border: 1px solid #f3aa1c;
   border-top: 1px solid rgb(109,70,1);
   border-left: 1px solid rgb(109,70,1);
   padding: 2px 14px 0 16px;
}

.flash {
   padding: 0 10px;
   margin-bottom: -5px;
   -webkit-border-radius: 3px 3px 0 0;
   -moz-border-radius: 3px 3px 0 0;
   -ms-border-radius: 3px 3px 0 0;
   -o-border-radius: 3px 3px 0 0;
   border-radius: 3px 3px 0 0;
   box-shadow: inset -3px -15px 10px rgba(0,0,0,.25);
}
.flash p {
   margin: 0;
   padding: .5em 0 1em 0;
}
.flash .hide {
   position: absolute;
   right: 8px;
   top: 3px;
   color: rgb(0, 0, 0);
   font-size: 16px;
   font-weight: bold;
   text-shadow: 0px 1px 0px rgba(255,255,255,.5);
   opacity: 0.4;
   font-weight: bold;
   font-family: Helvetica,Arial,sans-serif;
}
.flash .hide:hover {
   text-decoration: none;
}
.flash.error {
   background: #882200;
   position: relative;
   z-index: 100;
   color: #FFFFAA;
   font-size: 1.2em;
   border: 1px solid #551100;
   border-bottom: none;
}
.flash.success {
   background: #226611;
   position: relative;
   z-index: 100;
   color: #EEFFAA;
   font-size: 1.2em;
   border: 1px solid #114400;
   border-bottom: none;
}

/* ==|== media queries ====================================================== */

@media screen and (min-width: 1680px) and (max-width: 2100px) {
   body {
      background-size: 2100px;
   }
}

@media screen and (min-width: 1440px) and (max-width: 1680px) {
   body {
      background-size: 1680px;
   }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
   body {
      background-size: 1440px;
   }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
   body {
      background-size: 1280px;
   }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
   body {
      background-size: 1024px;
   }
}

@media screen and (min-width: 800px) and (max-width: 960px) {
   body {
      background-size: 960px;
   }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
   body {
      background-size: 800px;
   }
}

@media screen and (min-width: 720px) {
   .container {
      width: 640px;
   }
   [role='contentinfo'] {
      text-align: left;
   }
}

@media screen and (min-width: 640px) {
   [role='main'] {
      padding-top: 3em;
   }
   .vessel {
      margin: 0 3em;
   }
}

@media screen and (min-width: 480px) {
   form.signup .formrow .padded {
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      -ms-border-radius: 3px 0 0 3px;
      -o-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
      width: 70%;
   }
   form.signup .buttons .submit {
      width: 30%;
      right: 0px;
      top: 0px;
      position: absolute;
   }
}

@media screen and (min-height: 500px) {
   [role='contentinfo'] {
      position: absolute;
      bottom: 1em;
   }
}