<div id="flash"></div>

<form action="/signup" id="signup_form" class="form-inline signup" method="post">
  <input type="text" class="input-large tall" placeholder="Ingresa tu correo electrónico" name="signup[email]" id="signup_email">
  <button type="submit" id="signup_form_submit" class="btn btn-large">Registrarme!</button>
</form>
