<div id="flash"></div>

<form action="/signup" id="signup_form" class="signup" method="post">
  <div class="formrow">
    <label for="signup_email" id="signup_email_label">Email</label>
    <div class="padded">
      <input placeholder="Your e-mail address..." type="text" name="signup[email]" id="signup_email" value="">
    </div>
  </div>
  <div class="buttons">
    <input type="submit" id="signup_form_submit" class="submit" value="Sign up!">
  </div>
</form>
