/*
 *= require h5b
 *= require ./fontawesome
 */

/* ==|== primary styles ===================================================== */

html {
   height: auto;
}
body {
   background: url('/admin/img/light_wool.png') top left repeat;
}
#ajax_loader {
   opacity: .3;
   display: block;
}
#yield.logged {
   margin-top: 62px;
}
a, a:visited {
   color: #329;
   text-decoration: none;
}
a:hover, a:active {
   color: #223;
   text-decoration: underline;
}
.vessel {
   width: 800px;
   margin: 0 auto;
}
.login_form_vessel {
   width: 420px;
   margin: 60px auto 0 auto;
}
.login_form_wrapper {
   background: #3322BB url("/admin/img/bright_squares.png") top left repeat;
   padding: 2em 2em;
   box-shadow: inset 0 0 2px rgba(0,0,0,.7);
}
.login_form_wrapper h2 {
   font-family: 'Bevan', serif;
   font-size: 1.8em;
   font-weight: normal;
   color: #FFF;
   margin: 0 0 1em 0;
   text-align: center;
   text-shadow: 2px 2px 1px rgba(0,0,0,.6);
}
form.login .formrow .padded {
   padding: 0 8px;
}
form.login .formrow input {
   width: 100%;
   border: 0;
   background: #DDF;
   font-size: 1em;
   padding: 10px 8px;
   margin: 0 -8px;
   border: 1px solid #DDF;
}
form.login .formrow input:focus {
   background: #FFF;
   box-shadow: inset 1px 1px 3px rgba(0,0,0,.7);
}
form.login .formrow label {
   padding: 5px 0;
   display: block;
   margin-top: 10px;
   color: #DDF;
   font-size: .9em;
   text-shadow: 1px 1px 0 rgba(0,0,0,.3)
}
form.login .buttons {
   margin-top: 1.2em;
   text-align: right;
}
form.login .buttons .submit {
   position: relative;
   z-index: 102;
   text-align: center;
   background: #f3a41c;
   border: none;
   border: 1px solid #f3aa1c;
   border-bottom: 1px solid rgb(109,70,1);
   border-right: 1px solid rgb(109,70,1);
   box-shadow: 0 0 5px rgba(0,0,0,.5), inset -3px -3px 10px rgba(70,50,0,.3);
   color: #6d4601;
   text-shadow: 1px 1px 0 rgba(255,235,100,.8);
   font-family: 'Bevan', serif;
   font-size: 1.3em;
   font-weight: normal;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px;
   padding: 1px 25px;
   height: 46px;
   margin-right: -2px;
}
form.login .buttons .submit:hover {
   background: #e3941c;
   box-shadow: 0 0 5px rgba(0,0,0,.3), inset 3px 3px 10px rgba(255,235,100,.2);
}
form.login .buttons .submit:active {
   border: 1px solid #f3aa1c;
   border-top: 1px solid rgb(109,70,1);
   border-left: 1px solid rgb(109,70,1);
   padding: 2px 24px 0 26px;
}
form.login .buttons #ajax_loader {
   float: left;
   margin-top: 16px;
}
[role='contentinfo'] {
   text-align: center;
   margin-top: 2em;
   margin-bottom: 3em;
}
[role='contentinfo'] p {
   font-size: .8em;
   color: #778;
}
#flash {
}
.flash {
   margin: 1em 0;
   padding: 0;
   text-align: center;
   box-shadow: inset -1px -1px 1px rgba(255,255,255,.4);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px;
   border: 1px solid rgba(0,0,0,.3);
}
.flash p {
   margin: 0;
   padding: .6em 0 .6em 0;
   font-size: .8em;
   text-shadow: 1px 1px 0 rgba(0,0,0,.5);
}
.flash .hide {
   position: absolute;
   right: 12px;
   top: 7px;
   color: rgb(0, 0, 0);
   font-size: 16px;
   font-weight: bold;
   text-shadow: 0px 1px 0px rgba(255,255,255,.5);
   opacity: 0.4;
   font-weight: bold;
   font-family: Helvetica,Arial,sans-serif;
   text-decoration: none;
}
.flash .hide:hover {
   text-decoration: none;
}
.flash.error {
   background: #882200;
   position: relative;
   z-index: 100;
   color: #FFEECC;
   font-size: 1.2em;
}
.flash.success {
   background: #449911;
   position: relative;
   z-index: 100;
   color: #EEFFBB;
   font-size: 1.2em;
}
#chrome .flash {
   margin-left: -25px;
   margin-right: -25px;
}
.logo {
   float: left;
   position: relative;
}
.logo h1 {
   display: inline-block;
   margin: 0;
   padding: .2em 0;
   display: inline-block;
   color: #FFF;
   font-family: Bevan, serif;
   font-weight: normal;
   color: rgba(0,0,0,.55);
   text-shadow: 0 1px 0 rgba(255,255,255,.25);
}
#navbar #ajax_loader {
   position: absolute;
   top: 9px;
   left: 112px;
}
#navbar {
   background: #3322BB url("/admin/img/bright_squares.png") top left repeat;
   border-bottom: 1px solid rgba(0,0,0,.4);
   box-shadow: 0 1px 1px rgba(0,0,0,.5), inset 0px -1px 1px rgba(255,255,255,.5);
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 101;
}
#navbar nav {
   float: right;
   display: block;
   margin-right: -26px;
}
#navbar nav li {
   display: inline-block;
}
#navbar nav a {
   font-size: .8em;
   display: block;
   padding: 1em .7em .9em .7em;
   color: #DCF;
   text-shadow: 1px 1px 0px rgba(0,0,0,.4);
   outline: none;
   margin: 0 1px 0 1px;
   font-weight: bold;
}
#navbar nav a:hover {
   text-decoration: none;
   position: relative;
   z-index: 101;
   background: rgba(30,10,50,.1);
   color: #FFF;
}
#navbar nav a:active {
   text-decoration: none;
   color: rgba(0,0,0,.8);
   text-shadow: 0 1px 0 rgba(255,255,255,.2);
   box-shadow: inset 0px 1px 1px rgba(30,10,50,.7);
   border-right: 1px solid #4433CC;
   margin: 0 0 0 1px;
}
#content h2 {
   font-family: Bevan, serif;
   font-size: 2.1em;
   font-weight: normal;
   margin: -24px -24px 1px -24px;
   padding: 15px 24px 30px 24px;
   border-bottom: 1px solid #888;
   color: #888;
   background: #EEE url("/admin/img/white_texture.png") repeat;
   text-shadow: 1px 1px 0 rgba(255,255,255,.9);
}
#content h2 i {
   font-size: .7em;
   color: #444;
   opacity: .2;
}
#content #counter {
   position: absolute;
   font-size: .9em;
   font-style: normal;
   margin-top: -30px;
   color: #999;
   text-shadow: 1px 1px 0 rgba(255,255,255,.9);
}
.vessel.content {
   position: relative;
   z-index: 100;
   background: #FFF;
   border: 1px solid #CCC;
   border-bottom: 1px solid #999;
   border-right: 1px solid #BBB;
   padding: 25px;
}
.listing_wrapper {
   margin: 0 -24px -24px -24px;
}
table.listing {
   width: 100%;
}
table.listing thead {
}
table.listing thead th {
   background: #606060;
   border-top: 1px solid #555;
   border-bottom: 1px solid #444;
   color: #EEE;
   font-size: .9em;
   padding: .5em 0;
   font-weight: normal;
   text-shadow: 1px 1px 0 rgba(0,0,0,.8);
}
table.listing tbody tr td {
   color: #444;
   padding: .5em .1em;
   font-size: .9em;
}
table.listing tbody tr:nth-child(odd) td {
   background: #F2F2F2;
}
table.listing tbody tr:hover td {
   background: #DDE4FF;
   text-shadow: 1px 1px 0 rgba(255,255,255,.8);
}
.center {
   text-align: center;
}
.right {
   text-align: right;
}
#content .subnav {
   height: 68px;
   margin-top: -68px;
   text-align: right;
   margin-right: -8px;
   width: 100%;
   text-align: right;
}
#content .subnav ul {
   background: rgba(0,0,0,.1);
   display: inline-block;
   padding: 5px 5px 4px 3px;
   border-radius: 3px;
   display: inline-block;
   margin: 0;
}
#content .subnav li {
   display: inline-block;
   position: relative;
   float: right;
   margin-left: 2px
}
#content .subnav li a {
   display: block;
   position: relative;
   z-index: 102;
   text-align: center;
   background: #BBB;
   border: none;
   border: 1px solid #EEE;
   border-bottom: 1px solid #777;
   border-right: 1px solid #777;
   box-shadow: inset -3px -3px 10px rgba(40,40,40,.2);
   color: #555;
   text-shadow: 1px 1px 0 rgba(255,255,255,.7);
   font-size: .9em;
   font-weight: normal;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px;
   padding: 5px 25px 5px 10px;
   position: relative;
   font-family: Bevan;
}
#content .subnav li a:hover {
   text-decoration: none;
   background: #AAA;
}
#content .subnav li a.current, #content .subnav li a:active {
   border: 1px solid #EEE;
   border-top: 1px solid #777;
   border-left: 1px solid #777;
   padding: 6px 24px 5px 11px;
   box-shadow: inset 3px 3px 10px rgba(40,40,40,.2);
}
#content .action_buttons {
   height: 80px;
   margin-top: -80px;
   text-align: right;
   margin-right: -8px;
}
#content .action_buttons .button_wrap {
   background: rgba(0,0,0,.1);
   display: inline-block;
   padding: 4px 6px 4px 4px;
   border-radius: 4px;
}
#content .action_buttons .button {
   position: relative;
   z-index: 102;
   text-align: center;
   background: #f3a41c;
   border: none;
   border: 1px solid #f3aa1c;
   border-bottom: 1px solid rgb(109,70,1);
   border-right: 1px solid rgb(109,70,1);
   box-shadow: -1px -1px 1px rgba(255,255,255,.8), inset -3px -3px 10px rgba(70,50,0,.3);
   color: #6d4601;
   text-shadow: 1px 1px 0 rgba(255,235,100,.8);
   font-family: 'Bevan', serif;
   font-size: 1.3em;
   font-weight: normal;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px;
   padding: 1px 25px 5px 25px;
   height: 56px;
   margin-right: -2px;
   position: relative;
   padding-left: 55px;
}
#content .action_buttons .button:hover {
   background: #e3941c;
   box-shadow: -1px -1px 1px rgba(255,255,255,.8), inset 3px 3px 10px rgba(255,235,100,.2);
}
#content .action_buttons .button:active {
   border: 1px solid #f3aa1c;
   border-top: 1px solid rgb(109,70,1);
   border-left: 1px solid rgb(109,70,1);
   padding: 2px 24px 4px 56px;
   box-shadow: 1px 1px 1px rgba(255,255,255,.8), inset 3px 3px 10px rgba(255,235,100,.2);
}
#content .action_buttons .button small {
   display: block;
   font-size: .55em;
   padding: 0 0 0 1px;
   text-align: left;
   margin-top: -6px;
   font-family: Helvetica, Arial, sans-serif;
}
#content .action_buttons .button strong {
   display: block;
   font-weight: normal;
}
#content .action_buttons .button i {
   font-size: 2em;
   position: absolute;
   left: 12px;
   top: -6px;
}
#content .action_buttons .button:active i {
   left: 13px;
   top: -5px;
}

#map {
   margin: 0 -24px -5px -24px;
}
#map svg {
   width: 100%;
   height: 500px;
}
#map .feature {
   fill: rgba(10,80,120,.15);
   stroke: #FFF;
   opacity: .85;
}
#map .feature.hover {
   opacity: 1;
   cursor: pointer;
}
#map .dot {
}
#map .dot.hover {
   cursor: pointer;
   opacity: 1;
}

/* ==|== media queries ====================================================== */
