<div id="chrome">
  <div id="navbar">
    <!-- navigation goes here -->
  </div>
  <div class="vessel">
    <div id="flash"></div>
  </div>
  <div class="vessel content">
    <div id="content">
      <!-- main content goes here -->
    </div>
  </div>
</div>
