<% models.each(function(city) { %>
<tr>
  <td class="center"><%= city.get('id') %></td>
  <td><strong><%= city.get('city') %></strong></td>
  <td><%= city.get('country') %></td>
  <td class="center"><%= city.get('users_count') %></td>
</tr>
<% }) %>
