<% models.each(function(country) { %>
<tr>
  <td class="center"><%= country.get('id') %></td>
  <td><strong><%= country.get('country') %></strong></td>
  <td class="center"><%= country.get('users_count') %></td>
</tr>
<% }) %>
