<h2><i class="icon-<%= icon %>"></i> <%= title %></h2>
<div id="counter"></div>
<div class="action_buttons"></div>

<div class="listing_wrapper">
  <table class="listing" id="<%= id %>">
    <thead>
      <% _.each(columns, function(column) { %>
      <th><%= column %></th>
      <% }) %>
    </thead>
    <tbody>
      <!-- items goes here -->
    </tbody>
  </table>
</div>
