<ul class="tabs">
  <li><a href="/admin/locations/cities" class="tab cities_tab" data-group="cities"><i class="icon-screenshot"></i> By city</a></li>
  <li><a href="/admin/locations/countries" class="tab countries_tab" data-group="countries"><i class="icon-move"></i> By country</a></li>
</ul>
