<div class="vessel login_form_vessel">
  <div id="flash"></div>
  <div class="login_form_wrapper">
    <h2>Administración</h2>
    <form action="/admin/login" method="post" class="login" id="login_form">
      <div class="fields">
        <div class="formrow">
          <div class="padded">
            <input placeholder="Usuario" type="text" name="login" id="login_user" value="">
          </div>
        </div>
        <div class="formrow">
          <div class="padded">
            <input placeholder="Contraseña" type="password" name="password" id="login_password" value="">
          </div>
        </div>
      </div>
      <div class="buttons">
        <input type="submit" id="login_form_submit" class="btn btn-large" value="Entrar">
      </div>
    </form>
  </div>
</div>
