<div class="vessel">
  <nav>
    <ul>
      <li><a href="/admin/signups" class="nav signups"> Registered users</a></li>
      <li><a href="/admin/referers" class="nav referrers"> Referring websites</a></li>
      <li><a href="/admin/locations/countries" class="nav locations"> Locations</a></li>
      <li><a href="/admin/logout" class="logout"> Logout</a></li>
    </ul>
  </nav>
  <div class="clearfix"></dif>
</div>
