<div class="vessel">
  <div class="logo">
    <h1>Desant App</h1>
    <span id="ajax_loader">
      <img src="/admin/img/171.gif" alt="Loading..." />
    </span>
  </div>
  <nav>
    <ul>
      <li><a href="/admin/signups" class="nav signups"><i class="icon-user"></i> Registered users</a></li>
      <li><a href="/admin/referers" class="nav referrers"><i class="icon-globe"></i> Referring websites</a></li>
      <li><a href="/admin/locations/countries" class="nav locations"><i class="icon-map-marker"></i> Locations</a></li>
      <li><a href="/admin/logout" class="logout"><i class="icon-signout"></i> Logout</a></li>
    </ul>
  </nav>
  <div class="clearfix"></dif>
</div>
