<div class="vessel">
  <div class="logo">
    <h1>Airstrip</h1>
    <span id="ajax_loader">
      <img src="/admin/img/171.png" alt="Loading..." />
    </span>
  </div>
  <nav>
    <ul>
      <li><a href="/admin/signups" class="nav signups">Signed users</a></li>
      <li><a href="/admin/locations" class="nav locations">Locations</a></li>
      <li><a href="/admin/referrers" class="nav referrers">Referring websites</a></li>
      <li><a href="/admin/logout" class="logout">Logout</a></li>
    </ul>
  </nav>
  <div class="clearfix"></dif>
</div>
