<div class="vessel">
  <h1>Open source landing pages are coming!</h1>
  <p>
    That's not a joke! Desant is an open source landing page
    application with really nice looking and neat backend providing
    all the data and statistics you need in your business! Check
    it out now!
  </p>

  <div id="signup_form_wrapper"></div>
</div>
