<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Airstrip - Open Source Landing Page System!</title>
    <meta name="description" content="Airstrip is an open source landing page scaffold system.">
    <meta name="author" content="nu7hatch">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Bevan|Mate" type="text/css">
    <link rel="stylesheet" href="/assets/style.css?2">
    <script src="/js/modernizr-2.0.6.min.js"></script>

    <%= include_metric_scripts %>
  </head>
  <body>
    <div class="container">
      <section role="main" id="yield">
        <%= yield %>
      </section>
      <footer role="contentinfo">
        <div class="vessel">
          <p>
            Copyleft <%= Time.now.year %> by <a href="http://nu7hat.ch/">nu7hatch</a>, Some rights reserved.<br />
            <small>Background image by <a href="http://www.flickr.com/photos/cyanatic/">cyanatic</a>.</small>
          </p>
        </div>
      </footer>
    </div>

    <script src="/assets/setup.js"></script>
  </body>
</html>
