<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Desant - Open Source Landing Page System!</title>
    <meta name="description" content="Desant is an open source landing page scaffold system.">
    <meta name="author" content="nu7hatch">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Bevan|Droid+Sans:400,700" type="text/css">
    <link rel="stylesheet" href="/assets/style.css?2">
    <script src="/js/modernizr-2.0.6.min.js"></script>

    <%= include_metric_scripts %>
  </head>
  <body>
    <div class="container">
      <section role="main" id="yield">
        <%= yield %>
      </section>
      <footer role="contentinfo">
        <div class="vessel">
          <p>
            Copyright &copy; <%= Time.now.year %> by Chris Kowalik a.k.a. <a href="http://nu7hat.ch/">nu7hatch</a>.<br/>
            <small>All rights reserved.</small>
            <small>Background image by <a href="http://www.flickr.com/photos/cyanatic/">cyanatic</a>.</small>
          </p>
          <p>
            <a href="http://github.com/nu7hatch/desant">Fork me on <i class="icon-github"></i> Github!</a>
          </p>
        </div>
      </footer>
    </div>

    <script src="/assets/setup.js"></script>
  </body>
</html>
