<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>DATOS.GOB.MX</title>
    <meta name="description" content="El portal de datos abiertos del Gobierno de México.">
    <meta name="author" content="Coordinación de Estrategia Digital Nacional">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Bevan|Droid+Sans:400,700" type="text/css">
    <link rel="stylesheet" href="/assets/style.css?2">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <script src="/js/modernizr-2.0.6.min.js"></script>

    <%= include_metric_scripts %>
  </head>

  <body>
    <div class="container">
      <section role="main" id="yield">
        <%= yield %>
      </section>
      <footer>
        <div>
          <p>
            Aquí van los términos y condiciones <br/>
            <small>Para revisar términos y condiciones ver <a href="http://www.flickr.com/photos/cyanatic/">aquí</a>.</small>
          </p>
        </div>
      </footer>
    </div>
    <script src="/assets/setup.js"></script>
  </body>
</html>
